<h1>Pets Index </h1>

<div class="ui three column grid">
    <% @pets.each do |pet| %>
        <div class="column">
            <div class="ui segment">
                <% if pet.image %>
                    <img class="ui medium rounded image" src= <%= pet.image %> > 
                <% end %>
                <p></p>
                <%=link_to pet.name, pet_path(pet) %>
            </div>
        </div>
    <% end %>
</div>

<div class="ui card">
    <div class="image">
        <img src="/images/avatar2/large/kristy.png">
    </div>
    <div class="content">
        <a class="header">Kristy</a>
        <div class="meta">
            <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
            Kristy is an art director living in New York.
        </div>
    </div>
    <div class="extra content">
        <a>
        <i class="user icon"></i>
        22 Friends
        </a>
    </div>
</div>