

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
            <h3 class="ui header">We Help People Deal with COVID</h3>
            <p> Mid-march a terrible pandemic hit our country launching us into a period of reclusivity. But what are the effects of this solitude on families across the nation? Only time will tell but did you know that having a pet in th house has been clinically proven to help with stress and anxiety? </p>
            <h3 class="ui header">Our Animals make life long connections</h3>
            <p> Our usrs can attest that it is often easy to bond with one animal over several different ones! Develop a strong bond with a pet you can come back to over and over again without the permanent responsibility to take care of it! Wanna go to Europe later? That's fine. You can come back to Sassy another time!</p>
            </div>
            <div class="six wide right floated column">
                <img src= <%= Pet.all.sample.image %> class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">

        <div class="six wide right floated column">
                <img src= <%= Pet.all.sample.image %> class="ui large bordered rounded image">
            </div>
            <div class="eight wide column">
                <h3 class="ui header">Love Yourself By Loving Our Animals</h3>
                <p>Treat yo' self! Having a pet around makes you feel refreshed and rejuvenated! </p>
                <h3 class="ui header">Your Life Matters</h3>
                <p> "As a pet owner, it can be hard to know that I can't take as many vacations without worrying about who will take care of my dear Fluffy. Now not only will I be able to vacation with peace of mind, but I'll make some money to help with travel costs!"</p>
            </div>
            
        </div>
  
            
    </div>
</div>
    </div>


    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
            <h3>"What a Company!"</h3>
            <p>I know I know.. it seemed weird to me at first too! But do it! It was totally safe!</p>
            </div>
            <div class="column">
            <h3>"I shouldn't have gone with their competitor. My pet ended up dead in the hands of some crazy person"</h3>
            <p>
            
                <img src= <%= Faker::Avatar.image %> class="ui avatar image tiny"> <b></b> David from New Orleans, LA
            </p>
            </div>
        </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
        <h3 class="ui header">Breaking Your Depression, Grabs Your Attention</h3>
        <p>Pets help fight depression says study in a totally real not fake news magazine. </p>
        <a class="ui large button">Read More</a>
        <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
        </h4>
        <h3 class="ui header">Did We Tell You About Our Pets?</h3>
        <p>Certified from good homes. All vaccines and shots accounted for</p>
        <a class="ui large button">Read More</a>
        </div>
    </div>


    <div class="ui inverted vertical footer segment">
        <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
                <a href="#" class="item">Sitemap</a>
                <a href="#" class="item">Contact Us</a>
                <a href="#" class="item">Become a Renter</a>
                <a href="#" class="item">Adoption Plans</a>
            </div>
            </div>
            <div class="three wide column">
            <h4 class="ui inverted header">Services</h4>
            <div class="ui inverted link list">
                <a href="#" class="item">Rent a Pet</a>
                <a href="#" class="item">Buy Pet Gifts</a>
                <a href="#" class="item">How To Access</a>
                <a href="#" class="item">Favorite Pets</a>
            </div>
            </div>
            <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p><%= Faker::Lorem.paragraph(sentence_count: 13, supplemental: true) %></p>
            </div>
        </div>
        </div>
    </div>
</div>