<div class="margins">
<h1>Current Rental</h1>

<h2>You are currently renting! We hope you are enjoying your time with "that pet"!</h2>
Click here to end your rental. 

<%= link_to "Home", user_path(current_user), :class => 'ui inverted button'%>| 
<%= link_to "End Rental", user_path(current_user), :class => 'ui inverted button'%>| 


