<div class="margins">
<h1>Congratulations!</h1>


<h2>You have reserved 
<%= @rental.pet.name %> for <%= @rental.rent_length %> days!</h2>

<h3>$<%= @rental.cost %> will be deducted from your account and <%= @rental.pet.user.name %> will be in touch with you soon to coordinate pickup! </h3>


</div>
