/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    padding-left: 10 em;
    
   
 }

 .profile_pic {
    width: 40%;
    height: auto;
    padding-left: 30px;
 }

 .card_container{
    display:block;
    padding-left: 30 px;
    margin-left: 70px;
    margin-top:40px;
    margin-bottom: 60px;
 }

#ui_id{
   margin-top:20px;
}

h1{
   font-size: 60px;
}

.title{
   font-size: 60px;
   font-weight: 700;
}

.margins{
   margin-left:20px;
   margin-top: 20px;
   margin-bottom: 50px;
}


